* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin-left: 0px;
}

section {
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0 4px 2px -2px lightgrey;
  overflow: visible;
  /*   z-index: 100; */
}
section * {
  float: left;
}

section img {
  width: 110px;
  margin-left: 20px;
}

section i {
  color: gray;
  margin-left: 5px;
  cursor: pointer;
}
