* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.menu {
  width: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  padding-left: 25px;
  height: 28px;
}

.youtube-logo {
  height: 40px;
  margin-left: 0px;
}
.search-bar {
  display: flex;
  margin: 0 10rem 0 20rem;
  width: 30rem;
}

.search-input {
  width: 100%;
  font-size: inherit;
  border: 1px solid lightgray;
  border-radius: 1px;
  align-items: center;
}
.search-btn {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  border: 1px solid lightgray;
  background-color: #f8f8f8;
  cursor: pointer;
}
.search-btn:hover {
  background-color: #f0f0f0;
}
.top-right-side {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  gap: 1.52rem;
  padding-right: 20px;
}
.profile-circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  align-items: center;
}
.column-left {
  display: flex;
  width: 100%;
  border: none;
}

.catagories {
  width: 14.9rem;
  display: block;
  height: 100%;
  margin-bottom: 5px;
}
.catagories-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 16px;
  padding: 10px 4px;
}
.category {
  width: 100%;
  font-size: 16px;
  margin-left: 14px;
  padding: 5px;
  cursor: pointer;
}

.category:hover {
  background: #e5e5e5;
}

.icon {
  margin-right: 18px;
  height: 20px;
}
.icons {
  margin-right: 18px;
  height: 20px;
}

hr {
  border: 0.5px lightgray solid;
  width: 15rem;
}

h3 {
  color: rgb(92, 92, 92);
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 4px;
}

.cover-img {
  width: 50%;
  height: 50%;
}
h1 {
  color: black;
}

.channel-top {
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  height: 120px;
}

.profile-photo {
  border-radius: 50%;
  overflow: hidden;
  height: 80px;
  width: auto;
}

.channel-top-middle {
  width: 70%;
  margin: 0 auto;
}

.channel-top-middle p {
  color: gray;
}

.channel-top-right {
  margin: 0 auto;
}

.fa-check-circle {
  color: black;
  font-size: 0.5em;
}

.subscribe-btn {
  background-color: #cd322c;
  color: whitesmoke;
  height: 45px;
  width: 120px;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
}

.navigation a {
  color: #606060;
  font-weight: bold;
  font-size: 1rem;
  padding: 0px 25px 0px 10px;
  text-decoration: none;
}

.video-line {
  border-bottom: gray solid 2px;
}

.navigation a:hover {
  color: black;
}

.video-section {
  background-color: rgb(241, 241, 241);
}
.video-container {
  display: flex;
  flex-direction: column;
}
.thumbnail {
  position: relative;
  display: flex;
}
.thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  right: 40px;
  bottom: 5px;
  padding: 0.1em 0.3em;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}
.video-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem 1rem;
  padding: 4rem 7rem;
}

.thumbnail-img {
  border-radius: 5px;
}

.video-bottom-section {
  display: flex;
  align-items: flex-start;
  margin: 1rem;
}

.video-detail {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: black;
}

/* Div modified to dark theme and light */

.center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  position: absolute;
  bottom: -1rem;
  width: 50px;
  height: 30px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
  /*   transition: 0.5s; */
}

input:checked[type="checkbox"] {
  background: #03a9f4;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
}
