* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-menu {
  border: 2px red dashed;
  width: 100vw;
  height: 6vh;
}
input {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
.right-top ul li {
  justify-content: space-between;
  align-items: flex-end;
  display: inline;
}

.user_image {
  width: 32px;
  height: auto;
} */
